@import "mixins/mixins";
@import "common/var";
@include b(card) {
	border-radius: $--card-border-radius;
	border: 1px solid $--card-border-color;
	background-color: $--color-white;
	overflow: hidden;
	color: $--color-text-primary;
	transition: 0.3s;
	width: 100%;
	height: 100%;
	@include when(always-shadow) {
		box-shadow: $--box-shadow-light;
	}

	@include when(hover-shadow) {
		&:hover,
		&:focus {
			box-shadow: $--box-shadow-light;
		}
	}
	@include e(header) {
		padding: #{$--card-padding - 10 $--card-padding - 5};
		border-bottom: 1px solid $--card-border-color;
		box-sizing: border-box;
		width: 100%;
		max-height: 60px;
		@include flex-row-sb-c;
	}

	@include e(body) {
		width: 100%;
		height: 100%;
		& > .trueshowHeader {
			height: calc(100% - 60px);
			width: 100%;
		}
		& > .falseshowHeader {
			height: 100%;
			width: 100%;
		}
	}
}
