@import "mixins/mixins";
@import "common/var";

@include b(form-button) {
  position: absolute;
  width: 100%;
  height: heightAbsTop(50px, false);
  top: calc(100% - #{heightAbsTop(50px,true)});
  left: 0;
  border-top: 1px solid #EEEEEE;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}